<div>
    <mat-accordion multi="false">
        <mat-expansion-panel *ngFor="let project of makeProjects()" [ngStyle]="{'background': project.img, 'background-size':'100% auto'}" (opened)="openedPortrait()" [ngClass]="viewType">
            <mat-expansion-panel-header class="panel-header">
                <mat-panel-title class="body_text">
                    {{ project.title }}
                </mat-panel-title>
                <mat-panel-description class="subtitles" *ngIf="isPhone == false">
                    {{ project.description }}
                </mat-panel-description>
            </mat-expansion-panel-header>


            <ng-template matExpansionPanelContent>
                <div fxLayout.xs="column" id="expansionPanel">
                    <div fxFlex.xs="100" fxFlex="none" style="margin:5px">
                        <mat-card class="dark-bg" style="height:auto;">
                            <mat-card-title>
                                Techniques Used
                            </mat-card-title>
                            <mat-list>
                                <mat-list-item *ngFor="let skill of project.techniques">
                                    <h3 class="projectText">{{ skill }}</h3>
                                </mat-list-item>
                            </mat-list>
                        </mat-card>
                    </div>
                    <div fxLayout="column">
                        <div fxLayout="column" fxLayoutGap="0.5rem" fxFlex fxFlex.xs="100" style="margin:5px">
                            <mat-card class="dark-bg">
                                <mat-card-title>
                                    Description
                                </mat-card-title>
                                <div>
                                    <p class="projectText">
                                        {{ project.expDescription }}
                                    </p>
                                </div>
                            </mat-card>
                            <div fxLayout="row">
                                <div fxFlex></div>
                                <button mat-raised-button id="link-button">
                                <a class="projectText" target="_blank" href="{{ project.link[1] }}" style="text-decoration: none;">
                                        {{ project.link[0] }}
                                    </a>
                                </button>
                            </div>
                            <div fxFlex></div>
                        </div>
                        <div>
                            <div fxFlex></div>
                            <div>
                                <a class="subtitles artist-link" target="_blank" href="{{ project.reference[1] }}">
                                   {{ project.reference[0] }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>