*
    text-shadow: 0.05rem 0.05rem 0rem black
    font-weight: lighter


.corner-icons
    width: 40%
    cursor: pointer

.corner-icons:hover
    background-color: #71538b

.main_sections
    background: linear-gradient(to bottom right,#684d80,#bc7fad)

.body_text
    color: #F7F0F5
    font-size: 1.2rem
    line-height: 150%

.skillIcons
    height: 1.5rem
    width: auto
    margin: 0.3rem
    vertical-align: bottom

.section_title
    color: #F7F0F5
    font-size: 2rem

.footer-text
    color: #F7F0F5
    font-size: 0.9rem

.footer-text-top
    color: #F7F0F5
    font-size: 0.8rem
    opacity: 0.9

.footer
    min-height: 25vh
    padding-top: 4rem
    margin: 0

#footer-inner
    width: inherit
    text-align: center
    margin: 0 0 0 0
    
    mat-divider
        width: 96%
        margin: auto
        

.footer-links
    text-decoration: none
    background: none

.skill-Text
    display: inline-block

.gaps
    height: 10rem
