<!--Hero Section-->
<div [ngStyle]="{background: 'url(../assets/choices/choice_5.jpg)','background-size': isPhone? 'auto 100%' : '100% auto'}" style="background-repeat: no-repeat;background-attachment: fixed;" id="main_body">
    <div style="height:98vh;width:100%;text-align:center;">
        <img class="corner-icons" src="./assets/Imported_Components/icons8/file.png">
        <div fxLayout="row" fxLayoutAlign='center'>
            <h1 style="margin: 45vh 0 0 0; font-size:4.5rem;color:white;" class="mat-h1">
                Hi! I'm Ben.
            </h1>
        </div>
    </div>

    <!--Introduction-->
    <div fxLayoutAlign="center" style="background-color:#2a363b;width:100%;height:30VH;position:absolute;text-align:center;" class="mat-elevation-z5">
    </div>
    <div fxLayoutAlign="center" style="text-align:center;width:100%">
        <h1 class="mat-h1 section_title" style="z-index: 5;margin:5vh 0 0 0;">
            Web Developer, Programmer.
        </h1>
    </div>
    <mat-card class="mat-elevation-z3 main_sections" style="margin:4rem 4vw 0 4vw;min-height:15rem; text-align:center;">
        <div fxLayoutAlign="center" style="padding:3rem 20% 4rem 20%">
            <p class="mat-body-1 body_text">
                I have been writing code as a passion for 4 years, I am a self-taught Web Developer with an affinity for efficiency and clean design. I started web development in 2019 and picked up Angular as my preferred framework. I love playing with technology, exploring
                and discovering its possibilities </p>
        </div>
    </mat-card>
    <div style="height:10rem;width: 100%;"></div>

    <!--Skill Section-->
    <div>
        <div fxLayoutAlign="center">
            <h1 class="mat-h1 section_title">Relevant Skills</h1>
        </div>
        <mat-card fxLayoutAlign="center" class="mat-elevation-z4 main_sections" style="margin:0 4vw 0 4vw;">
            <div style="width:75%;margin:auto;text-align: center;" fxLayout="row wrap">
                <div *ngFor="let skill of skillsList" fxFlex="25" fxFlex.xs="100">
                    <div>
                        <p class="skill-Text mat-body-1 body_text"><span><img [src]='skill.source' class="skillIcons"></span>{{ skill.name }}</p>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div style="height:10rem"></div>

    <!--Personal Projects Section-->
    <div>
        <div class="white-decor mat-elevation-z4"></div>
        <div fxLayoutAlign="center">
            <h1 class="section_title mat-h1">Projects</h1>
        </div>
        <mat-card class="main_sections mat-elevation-z4" style="margin:0 10vw 0 10vw;">
            <app-projects></app-projects>
        </mat-card>
    </div>
    <div style="min-height:40vh"></div>

    <!--Footer-->
    <mat-toolbar style="min-height: 25vh;padding-top:4rem;" class="main_sections footer">
        <div style="width:inherit;text-align: center;margin:0 0 1.8rem 0;">
            <a target="_blank" href="https://icons8.com" style="text-decoration: none;">
                <p style="cursor:pointer" class="mat-body-1 footer">Icons from Icons8</p>
            </a>
            <mat-divider></mat-divider>
            <div>
                <p class="mat-body-1 footer">Made with Angular<br/>by Ben Waldinger</p>
            </div>
        </div>
    </mat-toolbar>
</div>